{% extends 'base.html' %} {% block content %}
<div class="card text-center" id="main_card">

    <div class="row">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-6 text-center">
            <div class="card text-center" id="dashboard_card">
                <div class="row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                        <br>
                        <h2>Add Hashtag</h2>
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>
                <div class="row">

                </div>
                <div class="row text-center">
                    <div class="col-md-2 text-center">

                    </div>
                    <div class="col-md-8 text-center">
                        
                    </div>
                    <div class="col-md-2 text-center"></div>

                </div>
                <div class="row text-center">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                    <a id="predict" class="waves-effect waves-light btn-large" style="display: inline-block;">Add</a>	
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>    
                <div class="row text-center">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                    <h2>You draw:</h2>
                    <h1 id="result"><span> </span></h1>
                    <div class="col-md-2 text-center"></div>
                </div>    
            </div>
            <div class="col-md-3 text-center"></div>

        </div>
    </div>
</div>

{% endblock %}
